* {
  box-sizing: border-box; }
/*insert custom css below*/

body
{
  background-color: #F2F2F2;
}

.box
{
    width: 500px;
    padding: 10px;
    border: 2px solid #BDBDBD;
    margin: 10px; 
}

h1
{
  color: black;
}

h2 {
  color: black;
}

h2: hover
{
  color: white;
}
