* {
  box-sizing: border-box; }
/*insert custom css below*/

body
{
  background-color: #ebebe0;
}
div box
{
     width: 320px;
    padding: 10px;
    border: 5px black;
    margin: 0; 
}

h1
{
  color: red;
}

h2 {
  color: black;
}
